<div id="product-variations-root"></div>

<script>window.SHUUP_PRODUCT_VARIATIONS_MODE="{{ product_variations.mode.value }}";</script>
<script>window.SHUUP_PRODUCT_VARIATIONS_PRODUCT_ID="{{ product_variations.main_product.id }}";</script>
<script>window.SHUUP_PRODUCT_VARIATIONS_CAN_CREATE_VARIATIONS={{ product_variations.can_create }};</script>
<script>window.SHUUP_PRODUCT_VARIATIONS_CAN_EDIT_VARIATIONS={{ product_variations.can_edit }};</script>
<script>window.SHUUP_PRODUCT_VARIATIONS_MAX_VARIATIONS="{{ product_variations.max_variations }}";</script>
